body {
    font-family: 'Arial';
    margin: 0;
    background-color: white;
}
header {
    background: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background:lightcoral;
    padding: 12px;
    text-align: center;
}
nav a {
    color: white;
    margin: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.banner {
    width: 100%;
    height: 350px;
    background-image: url("banner.png");

}
.container {
    padding: 30px;
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: white;
    margin: 15px;
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 180px;
}
.card-content {
    padding: 15px;
}
button {
    padding: 10px 15px;
    background:lightpink;
    border: none;
    color: white;
    border-radius: 5px;
}
footer {
    background:black;
    color: white;
    text-align: center;
    padding: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid wheat;
}
